name: Build and push

on:
    push:
        branches:
            - main

jobs:
    build-and-push:
        name: Build and push
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: See contents of .git/config file
              run: cat .git/config

            - name: Get branches
              run: git --no-pager branch -a
